<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zeros and Ones Academy</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="shortcut icon" href="images/icon_dark.PNG" type="image/x-icon">

    <style> 
        main div.container{
            justify-content: center;
            gap: 20px;
        }
        main h1{
            text-align: center;
        }
        p{
            font-size: 22px;
            text-align: center; 
        }
    </style>

</head>
<body>
    <%- include('header')%>
    <main>
        <div class="container">
            <h1>404 Page Not Found</h1>
            <p>Contact the <a href="/contact">admin</a></p>
        </div>
    </main>
</body>
</html>