<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zeros and Ones Academy</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="shortcut icon" href="images/icon_dark.PNG" type="image/x-icon">

</head>
<body>
    <%- include('header')%>
    <main>
        <div class="container">
            <h2>We are a Technology and Education institution</h2>
            <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro tempore provident quaerat reprehenderit ipsa earum incidunt omnis facere dolore adipisci reiciendis, autem ab sint eius similique, labore asperiores cum ipsam nam, sequi ullam. Incidunt reprehenderit magni odit, nemo delectus debitis?</p>
        </div>
    </main>
</body>
</html>