<header class="container">
    <a href="/" class="main-logo">
        <img height="70" src="images/icon_dark.JPG" alt="Zeros and ones Logo">
        <h1>0s & 1s</h1>
    </a>
    <nav>
        <a href="/about" class="navlink">About</a>
        <%if(locals.isLoggedIn){%>
            <a href="/profile/<%=locals.userId%>">Profile</a>
            <a href="/logout">Log Out</a>
        <%}else{%>
            <a href="/login" class="navlink">Log In</a>
            <a href="/register" class="navlink">Register</a>
        <%}%>
    </nav>

</header>